.main-container {
    margin: 2rem 2rem 2rem 3rem;
    justify-content: center;

    h3 {
        text-align: center;
        color: #1e292f;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
    }

    .board-design-container {
        width: 100%;
        
        .board-title {
            &-container{
                margin-bottom: 1rem;

                .board-title-required-field{
                    color:indianred;
                    font-size: small;
                }

                .group 			  { 
                    position:relative; 
                    margin-top: 1rem; 
                }
                
                input {
                    font-size: 1rem;
                    padding: 10px 5px 5px 0;
                    display: block;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #444444;
                }
                
                input:focus { 
                    outline: none; 
                    }
                
                label {
                    color:gray; 
                    font-size: 1.2rem;
                    font-weight: normal;
                    position: absolute;
                    pointer-events: none;
                    top: 10px;
                    transition:0.2s ease all; 
                    -moz-transition:0.2s ease all; 
                    -webkit-transition:0.2s ease all;
                }
                
                input:focus ~ label, input:valid ~ label {
                    top:-10px;
                    font-size: 0.9rem;
                    color:gray;
                }
                
                .bar { 
                    position: relative; 
                    display: block; 
                    width: 100%; 
                    }
                
                .bar:before, .bar:after {
                    content: '';
                    height: 1.5px; 
                    bottom: 1px; 
                    position: absolute;
                    background:#0fa3e7; 
                    transition:0.2s ease all; 
                    -moz-transition:0.2s ease all; 
                    -webkit-transition:0.2s ease all;
                }
                
                .bar:before {
                    left:50%;
                }
                
                .bar:after {
                    right:50%; 
                }
                
                input:focus ~ .bar:before, input:focus ~ .bar:after {
                    width:50%;
                }
                
            }
        }

        .board-background-container {
            margin-bottom: 1rem;
            

            fieldset {
                border: solid 1.2px #374a56;
                margin: 0;
                padding-left : 2rem;
                border-radius: 10px;

                legend {
                    margin: 0;
                    text-align: center;
                    padding-left: 5px;
                    width: 200px;
                    font-size: medium;
                    color: #374a56;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
            }

            .choose-baord-background {
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                padding: 0;

                .item-container {
                    list-style-type: none;
                    margin: 1rem 1rem 0.75rem 0;

                    a:hover {
                        text-decoration: none;
                    }
                }

                .board-background-color-btn {
                    border-radius: 10px;
                    width: 4.5rem;
                    height: 4.5rem;
                    padding: 0;

                    &:hover {
                        -webkit-box-shadow: 4px 5px 15px -6px rgba(46,45,46,0.77);
                        -moz-box-shadow: 4px 5px 15px -6px rgba(46,45,46,0.77);
                        box-shadow: 4px 5px 15px -6px rgba(46,45,46,0.77);
                    }
                }

                .choose-btn {
                    vertical-align: middle;
                    border: solid thin #8e8c8c;
                    background-color: #495057a6;
                    
                    p {
                        margin-top: 0.7rem;
                        text-align: center;
                        color: whitesmoke;
                        font-style: normal;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                }

                .image {
                    padding : 0;

                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    
    .board-demo-version {
        background-size: cover !important;

        border : solid 0.5px #444444;
        border-radius: 10px;
        margin-top: 1.5rem;
        width: 100%;

        &-container {
        margin-top: 1.5rem;
        }

    }

    .upload-image-container {
        display: flex;
    }


    .create-new-board {
        

        &-btn {
            width: 90%;
            text-align: center;
            border: none;
            border-radius: 5px;
            display: flex;
            height: 2.3rem;
            background: #4b555a;
            padding-top: 7px;

            p{
                font-size: medium;
                margin: 0;
                color: white;
                display: flex;
                margin: 0 auto;
                vertical-align: middle;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }

        &-container {
            width: 15%;
            display: flex;
            justify-content: flex-end;
        }
    }

    .board-demo-version-column {
        background-color: #f7f5f5;
        margin: 0.75rem 0.2rem 0.5rem 0.5rem;
        border-radius: 5px;
        display: inline-flex;

        .column-label{
            margin: 0.5rem 0.5rem 0.5rem 0.5rem;
            color: black;
            font-size: medium;
        }
        
    }

}

@media screen and (max-device-width:1062px), screen and (max-width: 1062px)  {
    .create-new-board-btn {
        p{
            visibility: hidden;

            &:before{
                content: 'Create';
                visibility: visible;
                padding-left: 0.15rem;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
    }

    .column-label{
        font-size: small !important;
    }
}

