.board-main-container{
    width: 100%;
    padding-top: 0.5rem;
    height: 100vh;

    .board-header{
        padding: 0 1.25rem 0 1.25rem;
        margin: 0 0.5rem 0 0.5rem;
        text-align: center;
        justify-content: space-between;
        display: flex;
        //background: #0000004f;
        border-radius: 5px;

        .board-title-container{
            border-radius: 5px;
            height: 2.5rem;
            display: flex;
            margin-bottom: 0.25rem;
            cursor: pointer;
            padding-left: 80px;

            h3{
                color: white;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                align-content: center;
                margin: 0 0.3rem 0.1rem 0.3rem;
                font-weight: bold;
                font-size: xx-large;
            }

            input{
                font-size: xx-large;
                font-weight: bold;
                border-radius: 5px;
                border: solid 2px#3f85b4;
                outline: none;
                height: 100%;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }

        .favourite-board-button-container{
            display: inline-flex;
            vertical-align: text-bottom;
        }

        .menu{
            display: inline-flex;
            border-radius: 5px;
            vertical-align: text-bottom;

            button{
                font-size: large;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
    }

    .board-container{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        background-color: initial;
        height: 92vh;
        scrollbar-width: none;

        .columns-container{
            display: flex;
        }
    }

    .board-container::-webkit-scrollbar {
        display: none;
    }
}

.menu-container{
    display: flex;
    flex-direction: row;
    bottom: -3.6rem;
    position: absolute;
    right: 0;
    top: 3.6rem;
    box-shadow: -2px 0px 10px -7px #000000;

    .menu-tab{
        background-color: #ffffff;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: hidden;
        width: 300px;

        .menu-header{
            display: flex;
            margin: 8px;
            padding: 8px;
            margin-left: 40%;

            button{
                color: black;
                margin-top: -0.5rem;
            }
        }
    }
}


@import 'column/column.scss';
@import 'menu/menu.scss';