.task-contianer{
    border-radius: 3px;
    padding: 8px;
    margin: 8px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 1px 0 rgba(9, 30, 66,0.26);

    &:hover{
        cursor: pointer;
    }
}

.edit-task-name-container{
    width: 100%;
    display: inline-flex;

    .task-name{
        margin: 0;
        display: flex;
        font-size: x-large;
        margin-left: 13px;
        padding-top: 6px;
        width: 100%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #39444a;
        font-weight: bolder;
    }

    .MuiOutlinedInput-multiline.MuiOutlinedInput-marginDense{
        padding: 5px !important;
        padding-bottom: 3px !important;
    }
}

.help{
    color:rgba(75, 75, 75, 0.801);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    margin-left: 30px;
}

.task-deadline-container{
    padding-bottom: 15px;
}

.task-description-container, .task-label-container, .task-deadline-container{
    padding-top: 10px;

    .task-description-title, .task-label-title, .task-deadline-title{
        width: 100%;
        display: inline-flex;
    
        h5{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #39444a;
            font-weight: bolder;
            display: inline-flex;
            margin-left: 10px;
            font-size: larger;
        }
    }

    .deadline-input-container{
        padding-bottom: 15px;

        input{
            border: solid 1px #007bff;
            outline: #007bff;
            border-radius: 3px;
        }
    }

    .save-deadline{
        color: white;
        background-color: #67c854;
        border-radius: 3px;
        height: 32px;
        padding: 0 15px;
    }

    .labels{
        width: 100%;
        padding-bottom: 10px;
        padding-right: 15px;

        .label{
            width: 25%;
            height: 30px;
            border-radius: 3px;
        }

        .active{
            visibility: visible !important;
            float: left;
        }
    }

    .description-text-container{
        padding-right: 15px;
    }

    .button-container{
        padding-top: 15px;
        justify-content: space-between;
        display: flex;

        .save-description{
            color: white;
            background-color: #67c854;
            border-radius: 3px;
            height: 32px;
            padding: 0 15px;
        }
    }
}


