.task-contianer{
    border-radius: 3px;
    padding: 8px;
    margin: 8px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 1px 0 rgba(9, 30, 66,0.26);

    &:hover{
        cursor: pointer;
    }
}