.navbar{
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--left-section, &--right-section {
        font-size: 1.5rem;
        display: flex;
    }

    &--left-section {
        margin-left: 1rem;
    }

    &--right-section {
        margin-right: 1rem;

        .close-search{
            margin-top: 0.25rem;
            margin-left: 0.5rem;
        }

        .open-search{
            display: inline;
            background-color: white;
            border-radius: 5px;
            height: 2rem;
            vertical-align: text-top;
            margin-top: 0.25rem;

            input{
                width: 10rem;
                height: 1.5rem;
                outline: none;
                border: none;
                border-radius: 5px;
                font-size: medium;
                margin-top: 0.25rem;
            }

            .close-search-btn{
                color: black;
                margin-top: -0.25rem;
            }
        }
    }

    &-titles {
        display: inline;
        margin: 0 10px 0 10px;
        font-size: medium;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
    }

    &--center-section {
        text-align: center;

        button {
        
            &:hover{
                color:rgba($color: #eeeeee, $alpha: 0.6)
            }
        
            a {
                color: inherit;
        
                &:hover {
                    text-decoration: none;
                    color: inherit
                }
             }
        }
        
    }
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none!important;
    padding:  1px 10px 1px 10px;
    color: white;
}

.delimiter {
        display: inline;
        color: white;
}

.logo {
    height: 40px;
}


