.login-page-container{
    position: absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgb(156,132,210);
    background: linear-gradient(337deg, rgba(156,132,210,0.9051995798319328) 26%, rgba(103,215,227,0.8519782913165266) 58%, rgba(0,211,255,0.8183648459383753) 93%);
    
    .login-form-container{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 80%;
        margin-top: 4rem;

        .login-image-container{
            width: 40%;

            img{
                width: 100%;
                height: 80%;
                margin-top: 2rem;
            }
        }

        .login-form{
            width: 60%;
            text-align: center;

            .login-title{
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: x-large;
                letter-spacing: -0.8px;
                color: rgba(128, 123, 123, 1);
                text-transform: none;
                font-style: normal;
                text-decoration: none;
                line-height: 0em;
                margin-top: 7rem;
                margin-bottom: 2rem;
            }

            .options-container{
                display: flex;
                justify-content: flex-end;
                margin-top: 0.25rem;
                margin-right: 18%;

                .forgot-password-link{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    letter-spacing: -0.5px;
                    font-size: small;
                    color: rgba(128, 123, 123, 1);
                    margin-top: 0.75rem;
                }
            }
            
            .login-btn{
                width: 60%;
                margin-top: 0.25rem;
                border-radius: 15px;
                background: rgb(70, 150, 255);
                height: 2.2rem;

                &:hover{
                    color: white;
                }
                
                p{
                    margin: 3px;
                    color: white;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: medium;
                }
            }

            .sign-up-contianer{
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    letter-spacing: -0.8px;
                    font-size: medium;
                }

                .title {
                    color: rgba(128, 123, 123, 1);
                    margin-top: 3rem;
                    margin-bottom: 0.5rem;
                }
            }

            .login-form-error{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: small;
                letter-spacing: -0.8px;
                font-style: normal;
                color: indianred;
                flex-wrap: wrap;
                margin-top: 0.5rem;
                margin-left:20%;
            }
        }
    }
}

@media screen and (max-device-width:800px), screen and (max-width: 800px)  {
    .login-image-container{
        display: none;
    }

    .login-form{
        width: 100%!important;
    }
}