.column-container{
    margin: 8px;
    border-radius: 3px;
    width: 272px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;

    .title-container-general{
        background-color: #ebecf0;
        
        .title-container{
            display: flex;
            justify-content: space-between;
    
            .title{
                padding: 8px;
                font-weight: bold;
                font-family: 'system-ui';
            } 
        }
    
        .edit-title{
            margin-top: -8px;
            cursor: pointer;            
        }
    }
}

.add-new-column-container{
    margin: 8px;
    background-color: transparent;
    min-width: 270px;
    width: 272px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;

    .add-new-column-button{
        background-color: #5e5e5e67;
        border-radius: 3px;
        max-height: 35px;

        &:hover{
            background-color: #928f8f78;
        }
    
        button{
            margin-top: 4px;
            display: flex;
            color: whitesmoke;
            font-family: 'system-ui';
            width: 100%;
        }

    }

    .add-new-column-name{
        background-color: #928f8f78;
        border-radius: 3px;

        .input-container{
            width: 100%;
            display: inline;
            margin-right: 8px;
            
            input{
                margin: 8px;
                border-radius: 3px;
                font-family: 'system-ui';
                width: 255px; 
                border: solid 1px #6cc5ff;
                height: 35px;   
                outline: none;
                width: 94%;
            }

        }

        .options-button{
            margin-left: 8px;
            display: flex;
            justify-content: space-between;

            .add-button{
                background-color: #6cc5ff;
                color: whitesmoke;
                font-family: 'system-ui';
                margin-bottom: 8px;
                border-radius: 3px;
                height: 32px;
            }

            .close-button{
                margin-bottom: 8px;
            }
        }
    }
}

.add-new-task{
    background-color: #b3b3b378;
    border-radius: 3px;
    margin: 0 8px;
    padding-top: 5px;
    display: flex;

    button{
        width: 100%;
        color: black;
        font-family: 'system-ui';
    }
}

@import 'task/task.scss';