.column-container{
    margin: 8px;
    border-radius: 3px;
    width: 272px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;

    .title-container-general{
        background-color: #ebecf0;
        
        .title-container{
            display: flex;
            justify-content: space-between;
    
            .title{
                padding: 10px;
                padding-left: 15px;
                font-weight: bold;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            } 

            .MuiOutlinedInput-multiline.MuiOutlinedInput-marginDense{
                padding: 8px !important;
            }
        }
    
        .edit-title{
            margin-top: -8px;
            cursor: pointer;            
        }
    }
}

.add-new-column-container{
    margin: 8px;
    background-color: transparent;
    min-width: 270px;
    width: 272px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;

    .add-new-column-button{
        background-color: #5e5e5e67;
        border-radius: 3px;
        max-height: 35px;

        &:hover{
            background-color: #928f8f78;
        }
    
        button{
            margin-top: 4px;
            display: flex;
            color: whitesmoke;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            width: 100%;
        }

    }

    .add-new-column-name{
        background-color: #928f8f78;
        border-radius: 3px;

        .input-container{
            width: 100%;
            display: inline;
            margin-right: 8px;
            
            input{
                margin: 8px;
                border-radius: 3px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                width: 255px; 
                border: none;
                height: 35px;   
                outline: none;
                width: 94%;
                box-shadow: 0 1px 0 rgba(9, 30, 66,0.26);
            }

            span{
                margin-left: 10px;
                margin-bottom: -18px;
                margin-top: -7px;
                color: #ff4343;
                font-size: small;
            }
        }

        .options-button{
            margin-left: 8px;
            display: flex;
            justify-content: space-between;

            .add-button{
                background-color: #67c854;
                color: whitesmoke;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                margin-bottom: 8px;
                border-radius: 3px;
                height: 32px;
            }

            .close-button{
                margin-bottom: 8px;
            }
        }
    }
}

.add-new-task-container{

    .add-new-task{
        background-color: #c5c5c578;
        border-radius: 3px;
        margin: 0 8px;
        padding-top: 5px;
        display: flex;
    
        &:hover{
            background-color: #b3b3b378;
    
        }
    
        button{
            width: 100%;
            color: black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
    
    .add-new-task-name{
        background-color: #928f8f78;
        border-radius: 3px;
        margin: 0 8px;

        .input-container{
            width: 100%;
            display: inline;
            margin-right: 8px;
            
            textarea{
                margin: 8px;
                border-radius: 3px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                width: 255px;
                border: none; 
                outline: none;
                width: 94%;
                height: 70px;
                overflow: hidden;
                overflow-wrap: break-word;
                box-shadow: 0 1px 0 rgba(9, 30, 66,0.26);
            }

            span{
                margin-left: 10px;
                margin-bottom: -18px;
                margin-top: -7px;
                color: #ff4343;
                font-size: small;
            }
        }

        .options-button{
            margin-left: 8px;
            display: flex;
            justify-content: space-between;

            .add-button{
                background-color: #67c854;
                color: whitesmoke;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                margin-bottom: 8px;
                border-radius: 3px;
                height: 32px;
            }

            .close-button{
                margin-bottom: 8px;
            }
        }
    }
}

@import 'task/task.scss';