.boards{
    margin: 2rem 3rem 2rem 6rem;
    min-height: 70vh;
    
    &-container {

        .personal-boards, .team-boards {
            margin-bottom: 1rem;

            &-title {
                margin-bottom: 1rem; 

                p {
                    color: gray;
                    font-weight: normal;
                }
            }

            &-list, &-create-new-board {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                list-style-type: none;

                a:hover {
                    text-decoration: none;
                }

                .item {
                    &-container {
                        margin: 0 1rem 2rem 0;
                        width: 12rem;
                        height: 6.5rem;
                        background-color: rgb(238, 155, 87);
                        border-radius: 3px;

                        &:hover {
                            -webkit-box-shadow: 4px 5px 15px -6px rgba(46,45,46,0.77);
                            -moz-box-shadow: 4px 5px 15px -6px rgba(46,45,46,0.77);
                            box-shadow: 4px 5px 15px -6px rgba(46,45,46,0.77);
                        }
                    }

                    &-board-title {
                        color: white;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;

                        .title-text {
                            margin-top: 0.25rem;
                            margin-left: 0.25rem;
                            font-weight: bold;

                            a:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

                .create-board-container, .create-team-board-container {
                    background-color: rgba(180, 168, 168, 0.7);
                    vertical-align: middle;
                    display: table-cell;
                    color: white;

                    .title-text {
                        text-align: center;
                        margin-top: 1rem;
                        font-weight: bold;
                        
                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 570px){
    .boards{
        margin: 2rem 2rem 2rem 2rem;
    }
}

@media screen and (max-device-width: 570px){
    .boards{
        margin: 2rem 2rem 2rem 4rem;
    }
}