.header{
    &-container{
        background-color: #2cc4cb;
        min-width: 700px;
    }

    .user-photo, .logo {
        
        &:hover{
            background-color: inherit;
        }
    }
}

@import "navbar/navbar.scss"
