.header{
    &-container{
        background-color: #374a56;
        min-width: 600px;
    }

    .user-photo, .logo {
        
        &:hover{
            background-color: inherit;
        }
    }
}

@import "navbar/navbar.scss";
@import "verify_error/verify_error.scss"
